torch>=2.6.0
hydra-core>=1.1
huggingface_hub
tqdm
matplotlib
omegaconf
demucs
librosa
PyMuPDF
git+https://github.com/CPJKU/madmom
ninja
audio-separator
cog
pytest>=7.0.0
pytest-cov>=4.0.0
flake8>=6.0.0